extends layout

block pageContent
  nav(class='navbar navbar-default', role='navigation')
    .container-fluid
      .navbar-header
        button(class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span.sronly
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class='navbar-brand', href='/') JobQ Queue Console
      #navbar-collapse(class='collapse navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            p.navbar-text#last-refresh
          li
            button(type='button' id='autorefresh-btn' class='btn btn-default navbar-btn') Enable Autorefresh
          li
            button(type='button' id='refresh-btn' class='btn btn-default navbar-btn') Refresh
    
  div(id='error-panel' class='panel panel-danger' style='display:none')
    .panel-heading
      h3.panel-title Error
    .panel-body#error-text

  div(class='panel panel-default')
    .panel-heading
      h3.panel-title Queues
    .panel-body
      table(id='qtable' class='table table-striped table-bordered table-hover' style='width:100%')
        thead
          tr
            th Type
            th Id
            th Put
            th Got
            th Size
            th Total
            th Sched
            th Next T
        tbody
  
  script(type='text/javascript' src='/public/javascripts/base.js').
