doctype html
html
  head
    title= title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/public/stylesheets/style.css')
    
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs/dt-1.10.13/se-1.2.0/datatables.min.css')
    script(type='text/javascript' src='https://cdn.datatables.net/v/bs/dt-1.10.13/se-1.2.0/datatables.min.js')
    
  body
    block pageContent
      
